.parallax3 {
    /* The image used */
    /* background-image: url("https://cdn.wallpapersafari.com/4/49/VzZ2rH.jpg"); */
    background-image: url("../images/bright-mountain.webp");
  
    /* Set a specific height */
    min-height: 100vh; 
    padding: 1%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aTitle {
    align-self: center;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    font-size: 5rem;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 1.1%;
}

.aboutContent {
    width: fit-content;
    height: 100%;
    display: flex;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
    background-color: rgba(81,70,59, 0.4);
}

.leftDiv, .rightDiv {
    display: inline-block;
    width: 40vw;
    margin: 1%;
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
    padding: 1%;
}

  #social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    width: 40vw;
  }
  #social-test h2 {
    color: #fff;
  }
  #social-test .social {
    padding-left: 0px;
  }
  #social-test li {
    color: rgba(224, 159, 106, 0.8);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(224, 159, 106, 0.4);
    cursor: pointer;
    transition: ease .3s;
    margin-right: 1%;
  }
  #social-test li a {
    text-decoration: none;
    color: inherit;
  }
  #social-test li:hover {
    color: #e09f6a;
    border: 1px solid #e09f6a;
  }
  .social:hover > li {
    opacity: 0.5;
  }
  .social:hover > li:hover {
    opacity: 1;
  }

  @media screen and (max-width: 1100px) { 
    .aboutContent {
      width: auto;
      display: block;
  }

    .rightDiv, .leftDiv, #social-test {
      width: 90vw;
    }
  }
  
  @media screen and (max-width: 1150px) { 
    .aTitle {
      font-size: 4rem;
    }
  }  
  
  @media screen and (max-width: 1000px) { 
    .aTitle {
      font-size: 3rem;
    }
  }   
  
  @media screen and (max-width: 400px) { 
    .aTitle {
      font-size: 2.5rem;
    }
  }  